.navBar {
    margin: 5px;
    border-radius: 0.5rem;
    border: solid 2px #001600;
    background-color: rgb(247, 244, 244);
}

.ulNav {
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.listaNav {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.estiloListado {
    text-decoration: none;
    color: black;
}